.logo {
    width: 50px;
}

.barcode-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .with-logo {
        width: 380px;
        height: 184px;
    }

    .logo-div {
        float: left;
        clear: both;
    }

    .id-div {
        float: left;
        clear: left;
    }

    .logo-barcode {
        width: 50px;
        padding-top:3px;
        float: left;
    }
}

.table {
    height: 700px;
    width: 100%;
}

.loader {
    display: block;
    margin: 0 auto;
}
